.list{
  width: 800px;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #fff;
  border-radius: .75em;
  padding: .25em;
  overflow-y: auto;

  .list-item{
    text-align: center;
    margin: 1em;
    width: 200px;
  
    @import './loader';
    
    .item{
      display: inline-block;
      cursor: pointer;
  
      &:hover{
      
        .item-image{
          background: #DDD;
          box-shadow: inset 0 0 0.5em #AAA;
          border-radius: 50%;
        }
      }
  
      .item-image{
        display: inline-block;
        transition: all .125s;

        &.pokemon-img{
          padding: .5em;
        }

        &.berry-img{
          padding: 1em;
        }
      }
  
      .item-name{
        letter-spacing: 1px;
        text-transform: capitalize;
      }
  
    }
  }
}