#pokedex{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  padding: 4em 0;

  h1{
    font-size: 4rem;
    margin-bottom: .75em;
    letter-spacing: 1px;
  }

  .waiting-msg{
    padding: 1em;
    border-radius: 1em;
    background: #ffffff;
    color: #2e2e2e;
    text-align: center;
  }

  .pagination{
    color: #2e2e2e;
    font-size: 1.2rem;
    margin: 1em 0;

    a{
      color: #2e2e2e;
      display: inline-block;
      text-decoration: none;
      font-weight: 900;
      vertical-align: middle;
      padding: .5em;

      &:hover{
        color: #11ABB0;
      }
    }

    .curr-page{
      margin: 0 1em;
      display: inline-block;
      padding: .5em;
    }

  }

  @media (max-width: 768px){

    padding: 2em 0;

    h1{
      font-size: 3rem;
    }

  }
}